{% extends 'base.html' %} {% block content %}
<section class="py-5" style="min-height:100vh">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="text-center">Feedback Delete</h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <form action="" method="post">
              {% csrf_token %}
              <h5>Are you sure want to delete?</h5>
              <button class="btn btn-danger" type="submit">Delete</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}