{% extends 'base.html' %} {% block content %}
{% include 'includes/navbar.html' %}
<section style="min-height:100vh">
  <div class="container py-5" style="min-height:100vh ;">
    <div class="row">
      <div class="col-lg-6">
        <h1 class="text-light">Feedback form</h1>
        <p class="text-justify text-light">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Est nostrum
          dolores alias, nobis laborum obcaecati tempore omnis porro tempora
          impedit labore, quas eum exercitationem dicta. Veritatis iusto
          consectetur nesciunt nulla provident ipsum sunt ut error maxime ab
          nostrum praesentium, amet odio esse mollitia vel porro? Ullam hic quae
          saepe tenetur minima, dolorum deserunt laborum veritatis quas temporibus
          quisquam voluptatem quia animi nulla nihil eos optio dicta voluptatibus
          at eius adipisci quidem non debitis sapiente? Similique placeat officiis
          nesciunt omnis vero. Quidem voluptatum a aliquid tenetur. Eos fuga
          temporibus natus rem. Quas fugiat ducimus commodi at ut beatae, possimus
          non! Porro accusantium necessitatibus fugit velit deserunt cumque beatae
          sapiente sunt provident quas asperiores veniam quae libero, quod
          perspiciatis sint aliquam, commodi sit fuga, et repellendus cupiditate
          quam amet. Voluptatum repudiandae laborum placeat quasi unde corrupti
          nulla qui, fugiat nisi atque omnis sint recusandae ipsum quis eaque ex
          aut quae sed exercitationem!
        </p>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <form action="" method="post">
              {% csrf_token %}
              <table>
                <tbody>
                  {{form.as_p}}
                </tbody>
              </table>
              <button class="btn btn-primary" type="submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include 'includes/footer.html' %}
{% endblock content %}
