{% extends 'base.html' %} {% block content %}
{% include 'includes/navbar.html' %}
<section style="min-height:100vh">
  <div class="container py-5" style="min-height:100vh ;">
    <div class="row">
      <div class="col-lg-6">
        <h1 class="text-light">Feedback form</h1>
        <p class="text-justify text-light">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae error, perferendis voluptate unde exercitationem officiis minus tempora laboriosam rem porro distinctio perspiciatis fuga dicta ipsa, repellendus inventore beatae vero. Ut tempora officiis cumque, modi sapiente corporis distinctio aperiam, voluptates laudantium eligendi nisi? Odit deserunt natus cum nisi quae, fuga ea nulla dolorem itaque ex laboriosam sint earum iure aliquam suscipit delectus consequatur voluptatem tempora mollitia ipsam libero ullam aperiam aut? Ducimus cupiditate tempora vitae animi reprehenderit suscipit eaque, consequatur accusamus magni. Natus perspiciatis eius omnis ducimus error, delectus dolorem soluta, tempora porro aliquam eveniet fugit ullam dignissimos at consequuntur sunt.
        </p>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <form action="" method="post">
              {% csrf_token %}
              <table>
                <tbody>
                  {{form.as_p}}
                </tbody>
              </table>
              <button class="btn btn-primary" type="submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include 'includes/footer.html' %}
{% endblock content %}
