{% extends 'base.html' %}{% block content %} 
{% include 'includes/navbar.html' %}

<div class="container " style="min-height: 100vh; ;">
  <div>
    <h1 class="text-light m-5 poppins text-center">About Us</h1>
    <p class="text-justify text-light m-5 fs-5">
      PlayR is a website that allows the user to pair their device with many other devices and listen to their favourite song together for Free.
      The users can create a room with their unique code for personal or private use.
      The user can also create a public rooms that can be accessed by anyone using the website and can listen to music together.
      The joined members can suggest new songs and can even vote for songs.
      The playing queue will be prioritised based on the votes.
    </p>
    <hr>
   
  </div>
</div>
{% include 'includes/footer.html' %}
{% endblock content %}
