{% extends 'base.html' %}{% block content %}
<section class="bg-host">
    <form action="">
    <div class="row">
        <a href="{% url 'core:home' %}"><h1 class="text-center text-light fw-bold poppins m-4">PlayR</h1></a>
        <div class="input-group cust-m m-2">
            <input class=" text-center " type="text" placeholder="enter room name">
            <button class="btn btn-outline-secondary"><i class="fa-solid fa-camera"></i></button>
        </div>
        <div class="text-center m-2">
            <input class=" text-center round-corner" type="text" placeholder="enter password">
        </div>
        <div class="text-center m-2">
            <input type="radio" class="btn-check" name="options-outlined" id="danger-outlined" autocomplete="off">
            <label class="btn btn-outline-danger" for="danger-outlined">Open to All</label>
            <div class="btn btn-success">Join</div>              
        </div>
    </div>
    </form>    
</section>
{% endblock content %}