{% extends 'base.html' %} {% block content %}
<section class="bg-destination">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for song in songs %}
        <div class="">
          <div class="card mx-3">
            <img style="height: 250px" src="{{song.image.url}}" class="card-img-top" style="height: 250px" />
            <div class="card-body">
              <h5 class="card-title">{{song.name}}</h5>
              <p class="card-text" style="height: 30px">{{song.description}}</p>
              <p>
                <a href="{% url 'core:player' song.id %}" class="btn btn-primary">
                  Listen now
                </a>

                <!-- Add to favorite start -->

                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                  data-bs-target="#modal_add_to_favorite_{{song.id}}">
                  Add to favorite
                </button>

              </p>
            </div>
          </div>
        </div>
    {% endfor %}
  </div>
</section><br>

{% endblock content %}