{% extends 'base.html' %}{% block content %} {% include 'includes/navbar.html'
%}
<section style="min-height: 100vh">
  <header class="mx-0 p-3">
    <p class="h1 poppins text-light p-5">Get Premium For 1 Month</p>
    <p class="h3 poppins text-light px-5">Only at &#x20b9; &nbsp; 199/month</p>
    <form action="" method="post">
      
      {% csrf_token %} {{form.as_p}}
      <button class="btn btn-outline-light rnd-btn1">Subscribe</button>
    </form>
  </header>
  <div class="m-5">
    <div class="card" style="width: 14rem; border-radius: 12px">
      <div class="card-body p-0">
        <div
          style="background-color: rgb(29, 117, 222); height: 150px"
          class="p-2"
        >
          <h5 class="card-title poppins text-light">Premium for 6 Month</h5>
          <h6 class="mb-2 text-white">Card subtitle</h6>
        </div>
        <div class="p-2">
          <p class="card-text">
            
          </p>
          <a href="{% url 'user:subscription' %}">
            <button class="btn btn-outline-dark rnd-btn1">Subscribe</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

{% include 'includes/footer.html' %} {% endblock content %}
